USERNAME=%DATABASEUSERNAME%
PASSWORD=%DATABASEPASSWORD%
PORT=3000
MONGODB_URI=%DATABASECONNECTIONSTRING%
MONGODB_CONNECT_MAX_ATTEMPTS=5
MONGODB_CONNECT_RETRY_DELAY_MS=2000
AUTH_TOKEN_SECRET=%AUTHTOKENSECRET%
AUTH_TOKEN_TTL_MS=43200000
ESP_SHARED_SECRET=%ESPSHAREDSECRET%
ALLOW_DESTRUCTIVE_STARTUP_TASKS=false
ALLOWED_WS_ORIGINS=http://localhost:3000
TZ=America/Sao_Paulo
